@page "/C_Productos"

@using Tarea6Lab.Models
@using Tarea6Lab.BLL 

<EditForm Model="lista">
    <DataAnnotationsValidator />
    
    <div class="card">
    
        <div class="card-header">
            <h3>Consulta de Productos por Presentación</h3>
        </div>
    
        <div class="card-body">
    
            <form>
    
                <div class="input-group d-flex align-items-end">
                    
                  </div>
                
            </form>
    
        </div>
    
        <table class="table table-secondary">
    
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>ProductoId</th>

                    <th>Descripción</th>

                    <th>Presentación</th>

                    <th>Existencia</th>

                    <div class="card-header"></div>
            <h3>Conteo:</h3>
                    
                </tr>
            </thead>
    
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.ProductoId</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Existencia</td>
                        <td>RD$ @item.Costo</td>
                        <td>RD$ @item.ValorInventario</td>
                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                        <td><a class="btn btn-sm btn-outline-primary oi oi-eye" href="R_Productos/@item.ProductoId">Ver</a></td>
                    </tr>
                }
            </tbody>
    
        </table>
    
    </div>
</EditForm>



@code{
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public DateTime Desde { get; set; }
    public DateTime Hasta { get; set; }
    public List<Productos> lista { get; set; } = new List<Productos>();

    [Inject]
    public ProductoBLL productosBLL { get; set; }

    private void Buscar()
    {

        if (Criterio != null)
        {
            switch(Filtro)
            {
                case "1":
                    lista = productosBLL.GetList(t => t.ProductoId == int.Parse(Criterio));
                break;

                case "2":
                    lista = productosBLL.GetList(t => t.Descripcion.ToLower().Contains(Criterio.ToLower())); 
                break;

                case "3":
                    lista = productosBLL.GetList(t => (t.Fecha.Date >= Desde.Date && t.Fecha.Date <= Hasta.Date || (t.Descripcion.ToLower().Contains(Criterio.ToLower())))); // Filtro de Fecha
                break;
            }
        }
        else
        {
            lista = productosBLL.GetList(t => true);
        }
    }
}